<div class = "FinancialSummary">
  <p>FinancialSummary Page</p>
  <p>Service Requested: <%= @inquiry.service %></p>
  <p>How old are you? <%= @inquiry.age %></p>
  <p>What situation best describe you? <%= @inquiry.status %></p>
  <p>Are you a homeowner? <%= @inquiry.home %></p>
  <p>What is your occupation:<%= @inquiry.job %></p>
  <p>What is your current income? <%= @inquiry.salary %></p>

</div>